<div class="container">

  <h4>Preencha todos os Campos do Formulario</h4>
  <br>

  <form>
    <div class="mb-3">
      <label class="form-label">Nome: </label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Sobrenome: </label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">E-mail:</label>
      <input type="text" class="form-control">
      <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Data Nascimento:</label>
      <input type="date" class="form-control">
    </div>

    <h3> Localidade de Atendimento</h3>

    <div class="mb-3">
      <label class="form-label">CEP:</label>
      <input type="number" maxlength="8" class="form-control" name="cep" onclick="callAPI()"
        placeholder="Digite seu CEP">
    </div>

    <div class="mb-3">
      <label class="form-label">Endereço:</label>
      <input type="text" name="endereco" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Numero:</label>
      <input type="text" name="endereco" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Complemento:</label>
      <input type="text" name="complemento" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Bairro:</label>
      <input type="text" name="bairro" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Cidade:</label>
      <input type="text" name="cidade" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Estado:</label>
      <input type="text" name="estado" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>

</div>