<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Clinica de Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let item of agendamento">
    <ion-card-header>
      <ion-card-title>Agendamentos em andamento - {{item.nomedoutor}}</ion-card-title>
      <br>
      <ion-card-subtitle>Data: {{item.dataAgendamento | date:'medium'}} às {{item.hora}}:00</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Alerta Geral
    </ion-card-content>
  
    <div class="button-group">
      <ion-button [routerLink]="['/detalhes-agendamento', item.id]" color="success" fill="clear">Detalhes</ion-button>
      <ion-button (click)="deletar(item)" color="danger" fill="clear">Cancelar Agendamento</ion-button>
    </div>
  </ion-card>
</ion-content>
